body, ul, h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
header {
  background: #8fe0fa;
  text-align: center;
  padding: 1em 0;
}
#site-title {
  font-size: 3em;
  font-weight: normal;
}
#site-subtitle {
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 1em;
}
.wrapper {
  width: 960px;
  text-align: center;
  margin: auto;
  margin-top: 1em;
}
fieldset {
  height: 2.5em;
  text-align: left;
  display: inline-block;
}
#danmaku-speed {
  width: 4em;
  height: .5em;
}
#manager {
  width: 320px;
  height: 360px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  float: right;
  overflow: hidden;
}
#get-bilibili {
  height: 44px;
}
#get-bilibili input {
  width: 240px;
  font-family: Arial;
}
#get-bilibili button {
  width: 72px;
}
#manager-tab {
  width: 100%;
  text-align: center;
  position: relative;
}
#manager-tab > div {
  width: 50%;
  background-color: #ccc;
  display: inline-block;
}
#manager-tab label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
#manager-tab label:hover {
  background-color: #aaa;
}
#manager-tab [type=radio] {
  display: none;
}
.tab-content {
  width: 100%;
  height: 294px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: absolute;
  left: 0;
}
.tab-content li {
  list-style: none;
}
#manager-tab [type=radio]:checked ~ label {
  background-color: #888;
}
#manager-tab [type=radio]:checked ~ label ~ .tab-content {
  display: block;
}
#manager-files li {
  height: 1em;
  overflow: hidden;
  padding: .25em;
}
#manager-files li:hover {
  height: auto;
  background-color: #aaa;
}
.file-title {
  height: 20px;
  overflow: hidden;
}
.comment-time {
  padding: 0 .5em;
}
.comment-text {
  white-space: nowrap;
}
#video-mode,
#audio-mode {
  background-color: #fff;
  position: absolute;
  float: left;
}
#audio-mode,
#realtime-mode {
  display: none;
}
#realtime-mode {
  text-align: left;
}
#realtime-mode pre {
  border: 1px solid #8fe0fa;
  display: inline-block;
}
#realtime-mode pre:before {
  display: block;
  font-size: 3em;
  font-weight: bold;
  color: #8fe0fa;
}
#server {
  float: left;
}
#server:before {
  content: 'Server';
}
#client {
  float: right;
}
#client:before {
  content: 'Client';
}
.danmaku-container {
  width: 640px;
  height: 360px;
  position: relative;
}
.danmaku-container canvas {
  position: absolute;
  left: 0;
}
#drop-area {
  width: 640px;
  height: 360px;
  text-align: center;
  box-sizing: border-box;
  border: 10px dashed #ccc;
  position: absolute;
}
#drop-area input {
  width: 100%;
  height: 340px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
#drop-text {
  width: 100%;
  font-size: 2em;
  line-height: 1;
  position: absolute;
  top: 154px;
}
#message {
  padding: .5em;
  position: fixed;
  right: .5em;
  bottom: .5em;
  opacity: 1;
}
.transition {
  transition: opacity 4s cubic-bezier(1,0,1,1);
}
.error {
  background-color: #d5515f;
}
.error:before {
  content: 'Error: ';
}
.success {
  background-color: #48b551;
}
.success:before {
  content: 'Success: ';
}
video {
  width: 640px;
  height: 360px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
audio {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
